/* Adicionando a fonte JetBrains Mono do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Estilos para o menu lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e3f2fd; /* Azul claro */
    padding: 20px;
    border-right: 2px solid #b3e5fc; /* Azul mais claro */
    font-family: 'JetBrains Mono', monospace; /* Fonte JetBrains Mono */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #01579b; /* Azul escuro */
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #b3e5fc; /* Azul mais claro */
    color: #004d40; /* Azul mais escuro para o texto ao passar o mouse */
}

/* Estilo para o conteúdo principal */
.content {
    margin-left: 270px; /* Deixa espaço para o menu lateral */
    padding: 20px;
    font-family: 'JetBrains Mono', monospace; /* Fonte JetBrains Mono */
}

/* Estilo para o título */
h1 {
    color: #0288d1; /* Azul mais escuro */
}

/* Estilo para o formulário */
form {
    margin: 0;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

select, input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace; /* Fonte JetBrains Mono */
    border: 1px solid #b3e5fc; /* Azul claro */
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #0288d1; /* Azul mais escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace; /* Fonte JetBrains Mono */
}

input[type="submit"]:hover {
    background-color: #0277bd; /* Azul ainda mais escuro */
}
